.topbar {
    width: 80rem;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.spacer {
    width: 30rem;
}

.maincontent {    
    height: 100%;
    display: inline-block;
}

a {
    max-width: 2rem;
    max-height: 2rem;
}

.tournament {
    width: 10rem;
    height: 16rem;
    padding-right: 1rem;
}

.connection {
    width: 32rem;
}

.largerText {
    font-size: var(--title-size) !important;
}

li {
    margin-left: 3rem;
}